@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
	box-sizing: border-box;
}



body{
	background-color: dodgerblue;
	font-family: Poppins;
	
}

.container{
	background-color: white;
	max-width: 100%;
	min-width: 40%;
	min-height: 60%;
	max-height: 90%;
	overflow-y: auto;
	border-radius: 10px;
	position: absolute;
	padding: 20px;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
    box-shadow: 1px 2px 8px 0px #2c2c2c;
}



.success{
	background-color: #99db99;
    padding: 5px 10px;
    text-align: center;
    color: #004d0c;
    border: 1px solid;
    border-radius: 5px;
}


.failed{
	background-color: #ec5f5f;
    padding: 5px 10px;
    text-align: center;
    color: #a40909;
    border: 1px solid;
    border-radius: 5px;
}

.container  h2{
	text-align: center;
}

input[type = "text"], input[type = "password"], input[type = "number"], input[type = "url"], select, textarea{
	display: block;
	width: 100%;
	outline: 0;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px 5px;

}

input:focus, textarea:focus, select:focus{
	border: 1px solid dodgerblue;
    transition: 0.25s;
    box-shadow: 0px 0px 3px 1px #2f96fa;
}


}

textarea{
	min-width: 90%;
	max-width: 500px;
	margin: 0;
	min-height: 200px;
	max-height: 200px;
}

input[type = "submit"]{
	background-color: dodgerblue;
	display: block;
	width: 100%;
	padding: 20px 5px;
	outline: 0;
	border-radius: 5px;
	border: 0;
	color: white;
}

input[type = "submit"]:hover{
	background-color: #165da2;
}


a.yes{
	background-color: #ffe3e6;
	display: block;
	width: 80%;
	margin: auto;
	padding: 5px 5px;
	text-align: center;
	outline: 0;
	border-radius: 5px;
	border: 1px solid #f85149;
	color: #f85149;
	text-decoration: none;
	transition: .25s;
	font-size: .8em;
}

a.yes:hover{
	background-color: #f85149;
	color: white;
}

a.no{
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: .8em;
	margin: 9px auto;
	color: dodgerblue;
}

a.no:hover{
	color: black
}

.go-delete{
	text-align: center;
}

.back-links{
	width: 100%;
	text-align: center;
	margin-top: 20%;
}

.back-links a{
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: dodgerblue;

}

.back-links a:hover{
	color: black;
}


a.manage-links{
	background-color: #e3e8ff;
    display: block;
    width: 80%;
    margin: auto;
    padding: 5px 5px;
    text-align: center;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #4970f8;
    color: #4970f8;
    text-decoration: none;
    transition: .25s;
    font-size: .8em;
    font-weight: bold;
}


a.manage-links:hover {
	background-color: #4970f8;
	color: white;
}


@media screen and (max-width: 900px){

	.container{
		width: 90vw;
	}

}